<!DOCTYPE html>
<html  ng-app="app">
<head>

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="~/Scripts/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Scripts/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Scripts/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <link href="~/Content/ng-table.css" rel="stylesheet" />
    <link href="~/Scripts/css/Customer.css" rel="stylesheet" />
    <link href="~/Scripts/css/Order.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->


  

    <style>
        .container{
            margin:0;
        }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>

    <script src="~/Scripts/js/jquery.min.js"></script>
    <script>
        $.noConflict();
    </script>
    <!-- JS (load angular, ui-router, and our custom js file) -->
</head>

<!-- apply our angular app to our site -->
<body>

    <!-- NAVIGATION -->
    <!-- MAIN CONTENT -->
    <div class="container col-lg-12" ng-controller="appCtrl">
  
        <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
        <div class="container-fluid">
            @RenderBody()

        </div>
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.23/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.917/js/kendo.all.min.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/Controllers/Products/ProductsController.js"></script>
    <script src="~/App/Controllers/Products/CreateProductController.js"></script>
    <script src="~/App/Controllers/Products/EditProductController.js"></script>
    <script src="~/App/Controllers/Orders/OrderController.js"></script>
    <script src="~/App/Controllers/Orders/ListOrderController.js"></script>
    <script src="~/App/Controllers/Customers/ListCustomerController.js"></script>
    <script src="~/App/Controllers/Customers/CreateCustomerController.js"></script>
    <script src="~/App/Controllers/Customers/EditCustomerController.js"></script>
</body>
</html>