
@{
    ViewBag.Title = "CreateProduct";
    Layout = null;
}

<h2>Create Product</h2>

<div ng-controller="CreateProductController as vm">
    <form ng-submit="vm.createProduct()">
        <button type="submit" value="Submit" class="btn btn-success btn-sm"  >Submit</button>
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.reset()">Reset</button>
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.listProduct()">Back</button>
        <br/>
        
      


        <div >
            <label class="col-sm-3 col-form-lable">Name Product</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="vm.item.Name" />
            </div>
        </div>
        <div >
            <label class="col-sm-3 col-form-lable">Alias</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="vm.item.Alias" />
            </div>
        </div>
        <div >
            <label class="col-sm-3 col-form-lable">CategoryID</label>
            <div class="col-sm-9">
                <select class="form-group" kendo-combo-box
                            k-placeholder="'Select Category'"
                            k-data-text-field="'Name'"
                            k-data-value-field="'ID'"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-data-source="vm.productCategory"
                            ng-model="vm.item.CategoryID"
                            style="width: 26.5%">

                </select>
            </div>
        </div>
        <div  >
            <label class="col-sm-3 col-form-lable">Price</label>
            <div class="col-sm-9">
               
                <input class="form-group" type="number" kendo-numeric-text-box ng-model="vm.item.Price" style="width:26.5%" />
            </div>
        </div>
        <div >
            <label class="col-sm-3 col-form-lable">Invetory</label>
            <div class="col-sm-9">
                <input class="form-group" type="number" kendo-numeric-text-box ng-model="vm.item.Invetory" style="width:26.5%" />
            </div>
        </div>
        <div>
            <label class="col-sm-3 col-form-lable">OriginalPrice</label>
            <div class="col-sm-9">
                <input class="form-group" type="number" kendo-numeric-text-box ng-model="vm.item.OriginalPrice" style="width:26.5%"/>
            </div>
        </div>
        <div >
            <label class="col-sm-3 col-form-lable">Status</label>
            <div class="col-sm-9">
                <input class="form-group" type="number" kendo-numeric-text-box style="width:26.5%" k-min="0" k-max="1" ng-model="vm.item.Status" />
            </div>
        </div>

    </form>
</div>